@tailwind base;
@tailwind components;
@tailwind utilities;


/* #maincontent {
  background-color: unset !important;
}

#ctl00_ctl00_MainContent_StudentSelectorPlaceholder {
  min-height: unset !important;
}

#ctl00_ctl00_MainContent_PXPHeader {
  padding: 4rem;
  background-color: white !important;
} */